AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
DB_HOST=host
DB_NAME=name
DB_USER=user
DB_PASS=pass
DB_PORT=3306
S3_BUCKET=api-recipe-test-9123123
AWS_SG=sg-xxxxx
SUBNET_ID_1=subnet-xxxxx
SUBNET_ID_2=subnet-xxxxx
SUBNET_ID_3=subnet-xxxxx